<div id="bg_overlay"></div>
<%= video_tag "bokeh.mp4", controls: false, autobuffer: true, autoplay: true, id: :bg_video, loop: true %>
<main class="main-home">
  StrataPlan is a demo of what can be achieved in 10 days. It has:
  <ul>
    <li>Google maps integration</li>
    <li>AJAX</li>
    <li>Encapsulated, object oriented JS</li>
    <li>Dynamic route calculations</li>
    <li>Extensive use of geocoder</li>
    <li>Single-table inheritance</li>
    <li>97% code coverage (1:0.9)</li>
    <li>Mocked HTTP requests</li>
  </ul>
</main>