-if @journeys.length 
  %ul
  - @journeys.each do |j|
    %li.journey{class: "large-border-radius"}= link_to j.name, journey_path(j)
-else
  %h3 You have no journeys yet.

= link_to "New journey", new_journey_path