= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBwGmEeg9OKIjaWiPE5-GnPR75Y1KXm14g"
#journey-name= @journey.name
#map-canvas{:data => {journeyID: @journey.id}}
.waypoint-list
  =render @journey.waypoints