.waypoint{id: waypoint.id, :data => { position: waypoint.position, longitude: waypoint.longitude, latitude: waypoint.latitude }, class: "large-border-radius med-light-shadow"}
  %h3= waypoint.name
  = image_tag "delete.png", class: "delete-button", id: waypoint.id