body {
  @extend background-blue;
}

nav {
  @extend strata-pink;
}

nav ul {
  @extend background-light;
}

.waypoint {
  @extend background-light;
}

.journey {
  @extend background-light;
}

background-blue {
  background-color: #D8DAFB;
}

strata-pink {
  background-color: #FF8686;
}

background-light {
  background-color: #EEE;
}