body {
  @extend background-tile;
}

nav {
  @extend strata-blue;
}

nav ul {
  @extend background-light;
}

.waypoint {
  @extend background-light;
}

.journey {
  @extend background-light;
}

background-blue {
  background-color: #D8DAFB;
}

strata-blue {
  background-color: #002132;
}

background-light {
  background-color: #3F3F3F;
}

background-tile {
  background-image: image_url("tile.jpg");
}

.main-home {
  background-color: rgba(0.1, 0.1, 0.1, 0.6);
  border-radius: 6px;
  padding: 30px;
  ul {
    margin: 10px;
    li {
      margin: 5px;
      margin-left: 30px;
    }
  }
}