body {
  @extend background-tile;
}

nav {
  @extend strata-blue;
}

nav ul {
  @extend background-light;
}

.waypoint {
  @extend background-light;
}

.journey {
  @extend background-light;
}

background-blue {
  background-color: #D8DAFB;
}

strata-blue {
  background-color: #002132;
}

background-light {
  background-color: #3F3F3F;
}

background-tile {
  background-image: url("tile.jpg")
}