
a {
  color: #00E8E8;
  text-decoration: none;
}

body {
  width: 80%;
  margin: 0 auto;
}

#container {
  width: 90%;
  margin: 0 auto;
}

form input, form select {
  display:block;
  margin-bottom: 10px;
}

input[type="submit"] {
  background: #0CBABA;
  background-image: linear-gradient(to bottom, #0CBABA, #2980b9);
  border-radius: 10px;
}