body {
  font-family: 'Ubuntu', sans-serif;
  color: #0CBABA;
  font-size: 1.1rem;
}

a:hover {
  text-shadow: 0px 0px 10px #6e7CFF;
  transition: all 0.2s ease-in-out;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.3rem;
}

#journey-name {
  margin: 10px;
}